@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --bg: #f5f5f5;
    --text: #333;
    --indigo: #4f46e5;
    --yellow: #eab308;
    --blue: #2563eb;
    --teal: #0d9488;
    --slate: #64748b;
    --white: #fff;
    --black: #000;
    --gray: #e0e0e0;
    --box: #fff;
  }
  :root[class='dark'] {
    --bg: #111;
    --text: #fff;
    --indigo: #a481ff;
    --yellow: #eab308;
    --blue: #5b9aff;
    --teal: #14b8a6;
    --slate: #94a3b8;
    --white: #fff;
    --black: #000;
    --gray: #444;
    --box: #222;
  }
}

html {
  /* scroll-behavior: smooth; */
  scroll-padding-top: 30px;
}

@media (max-width: 767px) {
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    -webkit-overflow-scrolling: touch;
  }
}

.rehype-code-title {
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 2px 15px;
  margin-bottom: -4px;
  font-size: 14px;
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  background-color: #333;
  color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
