@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --bg: #f5f5f5;
    --text: #222;
    --indigo: #4f46e5;
    --yellow: #eab308;
    --light-yellow: #ffd969;
    --light-blue: #3aa7eb;
    --blue: #2563eb;
    --teal: #0d9470;
    --white: #fff;
    --black: #000;
    --slate: #64748b;
    --light-gray: #dedede;
    --medium-gray: #999;
    --gray: #777;
    --box: #fff;
    --hoverbox: #fcfcfc;
  }
  :root[class='dark'] {
    --bg: #111;
    --text: #fff;
    --indigo: #a481ff;
    --yellow: #eab308;
    --light-yellow: #ffd969;
    --light-blue: #9edaff;
    --blue: #2776f4;
    --teal: #14b8a6;
    --white: #fff;
    --slate: #94a3b8;
    --light-gray: #444;
    --medium-gray: #aaa;
    --gray: #ccc;
    --black: #000;
    --box: #262626;
    --hoverbox: #333;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

@media (max-width: 767px) {
  body::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

.rehype-code-title {
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 2px 15px;
  margin-bottom: -4px;
  font-size: 14px;
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  background-color: #333;
  color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
